@tailwind base;
@tailwind components;
@tailwind utilities;

.clip {
  -webkit-mask-image: url(/images/favorite-icon.svg); /* SVGのパス */
  -webkit-mask-repeat: no-repeat; /* 切り抜き表示する回数 */
  -webkit-mask-position: top center; /* 切り抜き表示する位置 */
  -webkit-mask-size: contain; /* 切り抜き表示するサイズ */
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}